<% layout('layout/boilerplate')%>
<main class="container my-4">

<div class="mb-3" id="cluster-map"></div>

<% for (let campground of campgrounds){%>
<div class="mb-3">
    <div class="d-flex flex-row">
            <div class="card d-flex align-items-center col-3 offset-1 px-0">
                <% if (campground.images.length) { %>
                    <div class="container d-flex align-items-center img-index-box px-0">
                        <img class="card-img img-fluid img-index" alt="" src="<%=campground.images[0].url%>">
                    </div>
                <% } %>
            </div>
            <div class="card col-7">
                <div class="card-body text-link">
                    <h3 class="card-title"><%= campground.title %> </h3>
                    <h5 class=" card-text text-muted"><%= campground.location%></h5>
                    <p class="card-text"><%= campground.description %></p>
                    <a class="btn btn-primary float-end" href="/campgrounds/<%=campground._id%>">View <%=campground.title%></a>
                </div>
            </div>
        
      </div>
  </div>
    <% }%>

</main>

    <script>
        const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
        const campgrounds = {features: <%- JSON.stringify(campgrounds) %> } ;
      </script>

    <script src="/javascripts/clusterMap.js"></script>
