<% layout('layout/boilerplate')%>
<%- include('../partials/flash')%>
	<div class="profile-container">
		<section class="profile">
			<% if(currentUser.profile_picture) {%>
                <img src="<%=currentUser.profile_picture.url%>" alt="User Profile Image">
                <%} else { %>
                <img src="https://images.unsplash.com/photo-1518020382113-a7e8fc38eac9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=417&q=80" alt="User Profile Image">
                <%} %>
			<p><%=user.username%></p>
            <h2><%=user.first_name%> <%=user.last_name%></h2>
            <% if(user.country) {%>
			<p><%=user.country%></p>
            <%} %>
			<p><%=user.email%></p>
            <% if(currentUser && currentUser.equals(user)) { %>
			<a href="/users/<%=user._id%>/settings">Edit Profile</a>
            <% } %>
        </section>
	</div>
    <div class="add-camp">
        <h5 class="title">My campgrounds</h5>
        <% if(currentUser && currentUser.equals(user)) { %>
        <a class=add href="/campgrounds/new" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg></a>
        <% } %>
    </div>
    <section class="my-campgrounds">
        <div>
            <% for (let campground of campgrounds){%>
                <% if(campground.author.equals(user._id)) { %>
            <a class="list-group-item flex-fill" href="/campgrounds/<%=campground._id%>"><%= campground.title %></a>
        
                <% } %>
            <% } %>
        </div>
    </section>